.app-c{
display: flex;
flex-direction: row;
position: fixed;
width: 100%;
}
.css-13cymwt-control {
margin-top: 0.5%;
outline: none;
border-radius: 8px;
border-style: solid;
border-width: 1px !important;
background: #31363b !important;
border-color: #1a1b1c !important;
color: #d1d5d9 !important;
padding: 3px 10px;
font-size: 15px;

}
.css-1p3m7a8-multiValue {

background-color: hsl(210deg 10% 84%)!important;}

.css-tj5bde-Svg {

    color: #40454f!important;}