.sidebar{

    width: 21%;
    background-color: #212529;
    border-style: solid;
    border-color:#343a40;
    border-right-width: 1px !important;
    border-width: 0px;
    position: sticky;
    top: 0;
    height: 100vh;
    .sidebar-content{
        overflow-y: scroll;
        width: 100%;
            .header{
                padding: 10px 20px;
                text-align: left;
                label{
                    color: white;
                    font-size: 30px;
                    font-weight: 800;

                    
                }
            }
            .sidebar-items{
                overflow-y: scroll;
                margin-top: 3%;
                .sidebar-group{
                    padding: 0 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 6%;
                    .sidebar-item{
                        margin-bottom: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    padding: 8px 10px;
    color: #ffffff;
    font-weight: 300;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    font-size: 14px;
    justify-content: space-between;
    .left{
        width: 90%;
       display: flex;
       flex-direction: row;
       align-items: center;
       span{
 
       }
    }
    .right{
        display: flex;
        flex-direction: row;
        align-items: center;
        small{
            color: #000;
            background-color: #ffffff;
            border-style: solid;
            border-color:        #000;
            border-width: 1px;
            height: 22px;
            width: 22px;
            font-size: 12px;
            // padding: 4px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
     
            font-weight: 700;
            border-radius: 100%;
        }
    }
                        span{
                            margin-left: 4%;
                        }
                        &:hover,
                        &.active{
                            border-color:#343a40;
                            background-color: #1d2125;
                            transition: all 0.5s ease-in;
                        }
                    }
                    .endline{
                        background-color: #343a40;;
                        padding: 0.2px;
                        width:90%;
                        margin-top: 1%;
                        margin-bottom: 6%;
                    }
                }
            }
    }
}
